input:invalid {
    color: red;
}
/* Градиент */
body {
 background: linear-gradient(270deg, #319ff9, #00d05a);
 background-size: 400% 400%;
 animation: gradient 30s ease infinite;
}
/* Анимация */

@keyframes gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h1 {
 color: white;
 font-size: 40px;
 font-family: calibri;   
padding-top: 25px;
}
.users {
 background-color: #333333;
 border-radius: 15px;
 width: 500px;
 height: 360px;
 margin-top: 150px;
}
button {
 background-color: #319ff9;
 color: white;
 font-family: calibri;
 border: none;
 border-radius: 5px;
 width: 70px;
 height: 30px;
 cursor: pointer;
 margin-top: 15px;
}
button:hover {
 background-color: white;
 color: #319ff9;
 border: 2px solid #319ff9;
 transition: 0.3s;
}
input {
 width: 300px;
 height: 30px;
 border-radius: 5px;
 margin: 5px;
}
hr {
 width: 1100px;
 border: 2px solid white;
 background-color: white;
}
.notes {
 color: white;
 font-family: calibri;
 font-size: 21px;
}
section {
 display: none;
}
a {
 color: white;
}