@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/*Шапка сайта (Хидер)*/
header {
	margin-top: -73px;
	position: fixed;
	background-color: black;
	height: 84px;
	width: 101%;
	box-shadow: 0 13px 4px -9px rgba(207, 207, 207, 0.4);
	z-index: 1;
	margin-left: -8px;
}
#logo {
	padding: 6px;
}
a {
	text-decoration: none;
}
.menu {
  color: #777777; 
  background: black; 
  padding: 25.6px;
  position: relative; bottom: 57px;	
  font-family: 'Comfortaa', cursive;
 	font-size: 22px;
 	margin-left: -6px;
}
.menu:after {
	display: block; /*блок элемента*/
	position: absolute; /*абсолютная позиция*/
	left: 0; /*направление подчеркивания*/
	width: 0;/*длинна линии до наведения курсора*/
	height: 2px; /*ширина линии*/
	background-color: white; /*цвет линии*/
	content: ""; /*отстутвует*/
	transition: 0.7s; /*задаём время анимации*/
}
.menu:hover:after,.menu:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.menu:hover {
   color: white;
   transition: 0.7s;
}
#here {
	color: white;
}
.dropbutton {
  color: white; 
  background: black; 
  padding: 25.6px; 
  transition: 0.2s linear; 	
  font-family: 'Comfortaa', cursive;
 	font-size: 22px;
 	border: none;
 	position: relative; left: 1375px; bottom: 105.5px;
}
.dropdown {
    position: relative;/*длина элементов будет относительно этой*/
    display: inline-block;/*Только при наведении на элемент*/
}
.dropelements {
    display: none;
    position: relative; left: 1376px; bottom: 105.5px;
 	 width: 100%;
    box-shadow: 3px 5px 11px 0px rgba(207, 207, 207, 0.4);
    z-index: 1;
}
.dropelements a {
    color: white; 
    background: black; 
    padding: 8px; 	
	 font-family: 'Comfortaa', cursive;
   	font-size: 20px;
    display: block;
}
.dropelements a:hover {
	background-color: white;
	color: black;
	transition: 0.3s;
	border: 2px solid #094D74;
}
.dropdown:hover .dropelements {
	display: block;
}
.dropdown:hover .dropbutton {
	color: black; /**/
  background: white; /**/
  transition: 0.5s;
}



/*Подвал сайта (footer)*/
footer {
   width: 100%;
   height: 550px;
   background-color: black;
}
.foot_block {
   width: 400px;
   height: 500px;
   display: inline-block;
   margin-left: 55px;
   margin-top: 25px;
}
.foot_block:first-child {
   position: relative; bottom: 45px;
}
.foot_block:last-child {
   position: relative; top: -215px;
}
.foot_content {
   color: white;
   font-family: calibri;
}
h4 {
   color: white;
   font-family: 'Comfortaa', cursive;
   font-size: 21px;
}
#line2 {
   width: 155px;
   border: 1px solid white;
   float: left;
}
#line3 {
   width: 1200px;
   border: 1px solid gray;
}
footer div:last-child {
   position: relative; top: -75px;
   margin-bottom: -245px;
}
#map {
   width: 380px;
   height: 305px;
   position: relative; top: 0px;
}
.icons {
   width: 30px;
   margin: 5px;
}
.lastinfa {
   margin-left: 25px;
   color: white;
   font-family: calibri;
}
.lastinfa:nth-child(2) {
   margin-left: 180px;
   
}
.lastinfa:nth-child(3) {
   margin-left: 540px;
}
.blue {
	color: #8F0368;
}




/*Основная часть*/
#big_img {
	background: url(../../images/universe.jpg); /*Фон(гифка)*/
	background-attachment: fixed;
	width: 100%;
	height: 750px;
	background-size: cover; /*Изображение заполняется полностью*/
}
h1 {
		color: white;/*Цвет текста*/
		text-align: center; /*Расположение текста*/
		font-size: 100px;
		font-family: 'Comfortaa', cursive;
		position: relative; top: 300px;
}
#latest_news {
	text-align: center;
	font-family: century gothic;
	font-size: 25px;
	margin-top: 70px;
	margin-bottom: 45px;
}
hr {
	width: 180px;
	border: 4px solid #8F0368;	/*Граница*/
}
#latest_news h2 {
	letter-spacing: 7px; /*Растояние между буквами*/
}
.read_more {
	width: 140px;
	height: 41px;
	border-radius: 15px; /*Закругление углов*/
	background-color: #8F0368; /*Цвет фона*/
	border: none;
	color: white;/*Цвет текста*/
	font-family: calibri;
	font-size: 16px; /*Размер шрифта*/
	color: white;/*Цвет текста*/
	font-family: calibri;
	font-size: 16px; /*Размер шрифта*/
	cursor: pointer;
}
.read_more:hover {
	background-color: white;
	border: 2px solid #8F0368;
	color: #8F0368;
	transition: 0.3s;
}
#what_space {
	background: url(../../images/what.jpg);
	width: 100%;
	height: 900px;
	background-size: cover;
}
#what_space button:hover {
	background-color: black;
	border: 2px solid #8F0368;
	color: #8F0368;
	transition: 0.3s;
}
.word_space {
	color: white;/*Цвет текста*/
	font-size: 70px; /*Размер шрифта*/ 
	font-family: century gothic;
	padding-left: 720px;
	padding-top: 100px;
}
#what_space button {
	position: relative; left: 1170px; top: 40px;
}
.main_infa {
	color: white;/*Цвет текста*/
	font-size: 20px; /*Размер шрифта*/
	font-family: century gothic;
	width: 400px;
	text-align: right;
	margin-left: 890px;
}
#registration {
	width: 100%;
	height: 100px;
	background-color: black;
	font-family: century gothic;
	font-size: 25px;
	text-align: center;
	margin-top: -32px;
}
#registration a {
	color: white;
	position: relative; top: 22px;
}
#registration a:hover {
	color: #8F0368;
	transition: 0.5s;
}
